# Development Caddyfile. The controller writes site snippets into
# /etc/caddy/sites/*.caddy and /etc/caddy/dynsites/*.caddy which are imported below.

{
    # For local testing, don't redirect HTTP->HTTPS
    auto_https disable_redirects
}

import sites/*
import dynsites/*
